<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/new" method="post">
        <div>
            <label>player Tag</label>
            <input value="" name="playerTag">
        </div>
        <div>
            <label>sex</label>
            <select name="sex">
                <option value="MALE">male</option>
                <option value="FEMALE">female</option>
            </select>
        </div>
        <div>
            <label>ageGroup</label>
            <select name="ageGroup">
                <option value="ELEMENTARY">ELEMENTARY</option>
                <option value="MIDDLE_SCHOOL">MIDDLE_SCHOOL</option>
                <option value="HIGH_SCHOOL">HIGH_SCHOOL</option>
                <option value="ADULT">ADULT</option>
            </select>
        </div>
        <div>
            <label>memo</label>
            <input type="text" name="memo">
        </div>
        <div>
            <label>trophies</label>
            <input name="trophies">
        </div>
        <button>제출</button>
    </form>

    <table>
        <th:block th:each="user : ${users}">
            <tr>
                <td>
                    <span th:text="${user.getPlayerTag()}">
                        playerTag
                    </span>
                </td>
                <td>
                    <span th:text="${user.getAgeGroup()}">
                        ageGroup
                    </span>
                </td>
                <td>
                    <span th:text="${user.getSex()}">
                        sex
                    </span>
                </td>
                <td>
                    <span th:text="${user.getMemo()}">
                        memo
                    </span>
                </td>
                <th:blcok th:each="userBrawler : ${user.getUserBrawlers()}">
                    <td>
                        <span th:text="${userBrawler.getBrawler().getName()}">
                            name
                        </span>
                    </td>
                </th:blcok>
            </tr>
        </th:block>
    </table>
</body>
</html>